<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252868858009-2mh7h4oeldhsc9s74cnst8i3kgd6dv8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252868858009-2mh7h4oeldhsc9s74cnst8i3kgd6dv8e</string>
	<key>API_KEY</key>
	<string>AIzaSyDutkLtfOYZVuMlskUtJozNZnqYb33xmaU</string>
	<key>GCM_SENDER_ID</key>
	<string>252868858009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wlad.TransactionApp</string>
	<key>PROJECT_ID</key>
	<string>transactionapp-7f4c0</string>
	<key>STORAGE_BUCKET</key>
	<string>transactionapp-7f4c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252868858009:ios:c574ab164934c4cc3a6808</string>
	<key>DATABASE_URL</key>
	<string>https://transactionapp-7f4c0-default-rtdb.firebaseio.com</string>
</dict>
</plist>